html, body {
    background: #0846A8;
    height: 100%;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    border-radius: 50%;
    border: solid 1px #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .outer-lvl3 {
    background-image: linear-gradient(#665a5a,#FF4040,#870000);
    width: 260px;
    height: 260px;
    animation: turning 8s infinite linear;
  }
  
  /*rotação*/
  @keyframes turning {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
  
  .outer-lvl2 {
    background: #fff;
    background-image: linear-gradient(#DBD9D9,#FAFAFA,#DBD9D9);
    width: 210px;
    height: 210px;
  }
  
  .outer-lvl1 {
    background-image: linear-gradient(#870000,#FF4040,#870000);
    width: 150px;
    height: 150px;
  }
  
  .center {
    background-image: linear-gradient(#0846A8,#277AFF,#0846A8);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
  }
  
  .arrow {
    border-top: 35px solid #EDE8E8;
    border-bottom: 48px solid rgba(0,0,0,0.0);
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    position: absolute;
    height: 0;
    width: 0;  
  }
  
  .top {
    top: 35px;
    left: 2px;
  }
  
  .left {
    transform: rotate(72deg);
    top: 16px;
    left: -24px;
  }
  
  .right {
    transform: rotate(-72deg);
    top: 16px;
    left: 25px;
  }